<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">


    <title>twitter+</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"> ></script>
    <script type="text/javascript" src="js/peopleknow.js"></script>
    <link rel="stylesheet" type="text/css" href="css/homepage.css">
    <script type="text/javascript"  src="/js/tweet.js"></script>
    <script type="text/javascript" src="js/loadTimeline.js"></script>

    
       
  </head>

  <body>
    <p> dd</p>
  <div class="bodyArea">

    <div id="username">
      <p id="myName"><%=username%></p>
    </div> 

    <div id="tweetBox" >
       <textarea rows="3" cols="50" name="tweet" id="tweetValue" placeholder="whats on your mind "></textarea>
       <button id="tweetButton"  >tweet</button>

    </div> 

    <div id="peopleUknow" class="people">
    <p id="peopleList" class="myList">
      
    </div>

  </div>
  </body>
</html>
