<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">


    <title>twitter+</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"> ></script>
       
  </head>

  <body>
    
  <div class="bodyArea">

    <div id="username">
      <%= username %>
    </div> 

    <div id="tweetBox" >
       <textarea rows="3" cols="50" name="tweet" id="tweet" placeholder="whats on your mind " ></textarea>
       <button id="tweetButton"  >tweet</button>
    </div> 

  </div>
  </body>
</html>
