body{


}

#peopleUknow{

	color:  blue;
}

.people [type=button]{
	color: blue;

}

.myButton{

	border:  3px solid rgb(51, 153, 255);
}

#peopleUknow{
	border: 1px solid  rgb(51, 153, 255);
	position: absolute;
	right: 10px;
	top: 100px;
	width: 200px;
	height: auto;
	text-align: center;

}
